

.logo {
    background-repeat: no-repeat;
    width: 25%;
    /* padding-inline-start: 20%; */
}

.navbar {
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    flex-direction: column;
}

.itinerary-preview {
    border-style: solid;
    border-color: black;
    padding: 20% 20% 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.plans {
    border-style: solid;
    border-color: black;
    padding-top: 20%;
    padding-bottom: 20%;}

.saved-itinerary {
    border-style: solid;
    padding: 10% 10%;
    align-self: flex-end;
}

.dropdown {
    display: flex;
    border-style: solid;
    border-color: black;
    /* justify-content: space-around; */
    order: 1;
}